<div>
    <md-table v-model="users" md-card @md-selected="onSelect">
        <md-table-toolbar>
            <h1 class="md-title">Users Table</h1>
        </md-table-toolbar>

        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
            <md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>
            <md-table-cell md-label="Name" md-sort-by="name">{{ item.firstname }} {{ item.lastname }}</md-table-cell>
            <md-table-cell md-label="Age" md-sort-by="email">{{ item.age }}</md-table-cell>
        </md-table-row>
    </md-table>
    <pagination :total-records="totalRecords" :current-page="pageNum" :per-page="perPage" @change-page="changePage"></pagination>
    <md-button class="md-raised md-primary" @click.native="showCreateUserDialog()">Create New User</md-button>
    <md-button class="md-raised md-primary" :disabled=" selectedUser == null" @click.native="showEditUserDialog()">Edit Selected User (id: {{selectedUser ? selectedUser.id : ''}})</md-button>
    <md-button class="md-raised md-accent" :disabled=" selectedUser == null" @click.native="deleteUser()">Delete Selected User (id: {{selectedUser ? selectedUser.id : ''}})</md-button>
    <dialog-user :init-form="form" :show-dialog="showDialog" @save="save" @close="showDialog = false"></dialog-user>
</div>