<template id="user" src="./user.html">
</template>

<script>
import * as userService from './../../services/user.service.js';
import * as permissionService from './../../services/permission.service.js';
import Pagination from '../pagination/pagination.vue';
import DialogUser from '../dialog/user/dialog-user.vue';

export default {
  template: '#user',
  name: 'User',
  props: [],
  data() {
    return {
      users: [],
      permissions: [],
      selectedUser: null,
      showDialog: false,
      form: {},
      perPage: 10,
      pageNum: 0,
      totalRecords: 0
    };
  },
  computed: {},
  methods: {
    onSelect(user) {
      this.selectedUser = { ...user };
    },
    async getUsers() {
      const res = await userService.http.getUsers({
        perPage: this.perPage,
        pageNum: this.pageNum,
      });
      this.users = res.users;
      this.totalRecords = res.total;
    },
    async getPermissions() {
      const res = await permissionService.http.getPermissions();
      this.permissions = res.permissions;
    },
    showCreateUserDialog() {
      this.form = {
        firstname: '',
        lastname: '',
        age: null
      };
      this.showDialog = true;
    },
    async save(form) {
      this.form = {...form};
      if (this.form.id) {
        await userService.http.update(this.form.id, {
          firstname: this.form.firstname,
          lastname: this.form.lastname,
          age: Number(this.form.age),
        });
      } else {
        await userService.http.create(this.form);
      }
      this.getUsers();

      this.showDialog = false;
    },
    showEditUserDialog() {
      this.form = { ...this.selectedUser };
      this.showDialog = true;
    },
    async deleteUser() {
      await userService.http.deleteUser(this.selectedUser.id);
      this.selectedUser = null;
      this.getUsers();
    },
    async changePage(page) {
      this.pageNum = page;
      await this.getUsers();
    }
  },
  async created() {
    await this.getUsers();
    await this.getPermissions();
  },
  components: {
    Pagination,
    DialogUser
  }
};
</script>
