<template id="pagination" src="./pagination.html">
</template>

<script>

export default {
  template: '#pagination',
  name: 'Pagination',
  props: ['totalRecords', 'perPage', 'currentPage'],
  data() {
    return {

    };
  },
  computed: {
    totalPages () {
      return Math.floor(this.totalRecords / this.perPage) + 1;
    }
  },
  methods: {
    changePage(page) {
      if(this.currentPage == page || page < 0 || page >= this.totalPages) {
        return ;
      }
      this.$emit('change-page', page);
    }
  },
};
</script>

<style scoped>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #456fe2a9;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
</style>

