<div>
    <div class="pagination">
        <a :disabled="currentPage > 0" @click="changePage(currentPage - 1)">&laquo;</a>
        <a :class="currentPage + 1 == page ? 'active' : ''" v-for="page in totalPages" @click="changePage(page - 1)">{{ page }}</a>
        <a :disabled="currentPage < totalPages" @click="changePage(currentPage + 1)">&raquo;</a>
      </div>
</div>