<template id="dialog-user" src="./dialog-user.html">
</template>

<script>
export default {
  template: '#dialog-user',
  name: 'DialogUser',
  props: ['showDialog', 'initForm'],
  data() {
    return {
        form: {...this.initForm},
    };
  },
  computed: {},
  methods: {
    save(err) {
      let valid = true;
      if(err.items.length > 0) {
          valid = false;
      }
      for (const ele in this.form) {
        if (this.form[ele] == '' || this.form[ele] == null) {
          valid = false;
          break;
        }
      }
      if (Object.keys(this.form).length == 0) {
        valid = false;
      }
      if (valid == false) {
        return;
      }
      this.$emit('save', this.form);
    },
    closeDialog(){
        this.$emit('close', false);
    }
  },
  watch: {
      initForm () {
          this.form = {...this.initForm};
      }
  }
};
</script>

<style scoped>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #456fe2a9;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
</style>

