<div>
    <md-dialog :md-active.sync="showDialog">
        <md-dialog-title>User</md-dialog-title>
        <md-card-content>
            <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                    <md-field>
                        <label for="first-name">First Name</label>
                        <md-input name="first-name" v-validate="'required'" id="first-name" v-model="form.firstname" />
                        <span>{{ errors.first('first-name') }}</span>
                    </md-field>
                </div>
                <md-dialog :md-active.sync="showDialog">
                    <md-dialog-title>User</md-dialog-title>
                    <md-card-content>
                        <div class="md-layout md-gutter">
                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label for="first-name">First Name</label>
                                    <md-input name="first-name" v-validate="'required'" id="first-name" v-model="form.firstname" />
                                    <span>{{ errors.first('first-name') }}</span>
                                </md-field>
                            </div>

                            <div class="md-layout-item md-small-size-100">
                                <md-field>
                                    <label for="last-name">Last Name</label>
                                    <md-input name="last-name" v-validate="'required'" id="last-name" v-model="form.lastname" />
                                    <span>{{ errors.first('last-name') }}</span>
                                </md-field>
                            </div>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                            <md-field>
                                <label for="age">Age</label>
                                <md-input type="number" v-validate="'required'" id="age" name="age" v-model="form.age" />
                                <span>{{ errors.first('age') }}</span>
                            </md-field>
                        </div>

                    </md-card-content>
                    <md-dialog-actions>
                        <md-button class="md-primary" @click="closeDialog">Close</md-button>
                        <md-button class="md-primary" @click="save(errors)" :disabled="errors.items.length != 0">Save</md-button>
                    </md-dialog-actions>
                </md-dialog>
                <div class="md-layout-item md-small-size-100">
                    <md-field>
                        <label for="last-name">Last Name</label>
                        <md-input name="last-name" v-validate="'required'" id="last-name" v-model="form.lastname" />
                        <span>{{ errors.first('last-name') }}</span>
                    </md-field>
                </div>
            </div>

            <div class="md-layout-item md-small-size-100">
                <md-field>
                    <label for="age">Age</label>
                    <md-input type="number" v-validate="'required'" id="age" name="age" v-model="form.age" />
                    <span>{{ errors.first('age') }}</span>
                </md-field>
            </div>

        </md-card-content>
        <md-dialog-actions>
            <md-button class="md-primary" @click="closeDialog">Close</md-button>
            <md-button class="md-primary" @click="save(errors)" :disabled="errors.items.length != 0">Save</md-button>
        </md-dialog-actions>
    </md-dialog>
</div>